#top-graphs {
    margin-bottom: 20px;
}

#graph, #graph3 {
    width: 48%; /* Leave some space between graphs */
}

#graph2-container {
    border: 5px solid black;
}

#graph2 svg {
    display: block;
}