#container {
    display: flex;
    gap: 200px;
}

#left-column {
    width: 425px;
}

#right-column {
    width: 425px;
}

#graph{
    border: 5px solid black;
}

#graph3{
    border: 5px solid black;
}

#graph, #graph2-container {
    width: 100%;
    margin-bottom: 20px;
}

#graph3, #graph4-container {
    width: 100%;
    margin-bottom: 20px;
}

#graph2-container {
    border: 5px solid black;
    overflow-y: auto;
    overflow-x: hidden;
    height: 300px;
}

#graph4-container {
    border: 5px solid black;
    overflow-y: auto;
    overflow-x: hidden;
    height: 300px;
}

#graph2 svg {
    display: block;
}

#graph4 svg {
    display: block;
}

.tooltip {
    position: absolute;
    background: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 12px;
    pointer-events: none; /* Prevent tooltip from interfering with mouse events */
}

.filter-controls {
    margin: 20px 0;
}

.filter-controls div {
    margin: 10px 0;
}

.filter-controls label {
    width: 200px;
}

.filter-controls input[type="range"] {
    width: 200px;
    margin: 0 10px;
}
